{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
  <div class="login-container">
    <form method="post" class="login-dialog">
      <h2>Welcome Back</h2>

      <label for="username">Username</label>
      <input name="username" id="username" required>

      <label for="password">Password</label>
      <div class="password-field">
        <input type="password" name="password" id="password" required>
        <button type="button" id="toggle-password" class="toggle-password-btn material-symbols-outlined">visibility</button>
      </div>

      <input type="submit" value="Log In" class="btn-login">

      <p class="register-link">
        Don’t have an account?
        <a href="{{ url_for('auth.register') }}">Register here</a>
      </p>
    </form>
  </div>

  <script>
    const togglePassword = document.getElementById("toggle-password");
    const passwordField = document.getElementById("password");

    togglePassword.addEventListener("click", () => {
      const isPassword = passwordField.type === "password";
      passwordField.type = isPassword ? "text" : "password";
      togglePassword.textContent = isPassword ? "visibility_off" : "visibility";
    });
  </script>
{% endblock %}